<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <ng-container class="nav-item" *ngIf="isAuthenticated"; else !isAuthenticated>
        <a class="nav-link" routerLink="confidencial">Confidencial</a>
        <a class="nav-link" routerLink="galeria">Galería</a>
        <a class="nav-link" routerLink="login">Login</a>
      </ng-container>
      
      <li class="nav-item" *ngIf="!isAuthenticated">
        <a class="nav-link" routerLink="registro">Registro</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
