<div class="dashboard-container">
    <h1 class="title">Dashboard</h1>
    <p class="description">Bienvenido. Esta es una página protegida, solo accesible para usuarios autenticados.</p>
  
    <div class="dashboard-content">
      <div class="card">
        <h2>Estadísticas</h2>
        <p>Revisa tus estadísticas de uso y actividad.</p>
        <button class="btn">Ver estadísticas</button>
      </div>
      
      <div class="card">
        <h2>Configuración</h2>
        <p>Ajusta las configuraciones de tu cuenta.</p>
        <button class="btn">Editar configuración</button>
      </div>
  
      <div class="card">
        <h2>Soporte</h2>
        <p>Contacta con el soporte técnico si tienes problemas.</p>
        <button class="btn">Contactar soporte</button>
      </div>
    </div>
  
    <button  class="logout-btn" (click)="logout()">Cerrar Sesión</button>
  </div>
  